<!DOCTYPE html>
<html>
  <head>
    <title>Add New Product</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/addproduct.css" />

  </head>
  <body>
    
    <%- include("partials/header.ejs") %>

   <div class="container">

     <h1 class="font">Add Products</h1>
     

    <form method="post" action="/add_product" enctype="multipart/form-data">
      
      <div class="form-group">
        <label for="exampleInputproduct">Product Name</label>
        <input type="text" name="product_name" class="form-control" id="exampleInputproduct"  placeholder="Enter Product name">
      </div>

      <div class="form-group">
        <label for="exampleInputPrice">Price</label>
        <input type="text" name="price" class="form-control" id="exampleInputPrice" placeholder="Enter Price">
      </div>

      
      Choose Image
      <ul style="list-style-type:none;">
        <li>
          <div class="form-group">
            <label for="mob_no"></label>
            <input type="file" name="uploaded_image" accept="" class="form-control-file" id="exampleInputFile"
              aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">PLease choose the image you want to upload</small>
          </div>
        </li>
        
        
      </ul>

      <div class="form-group" style="margin-top: 1cm;">
        <label for="exampleInputQuantity">Quantity</label>
        <input  type="number" name="quantity" class="form-control" id="exampleInputQuantity"  placeholder="Enter Quantity">
      </div>
      

      <div class="form-group">
        <label for="exampleSelect1">Category</label>
        <select type="text" name="category" class="form-control" id="exampleSelect1">
          <option>Women</option>
          <option>Men</option>
        
        </select>
      </div>

      <div class="form-group">
        <label for="exampleTextarea">Item Description</label>
        <textarea type="text" name="description" class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-info">Add</button>
     
     
    </form>
   </div>
   
   <div style="margin-top: 2cm;">
   <%- include("partials/footer.ejs") %>  
   </div>
                
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>
