.jumbotron{
  margin:80px;
  font-family: 'Lexend Mega', sans-serif;
  color: #222;

  
}
::placeholder { 
 color: #ff0000;
  opacity: 0.7; 
  font-size: smaller;
}
.inputs{
  border-top: none;
  border-right: none;
  border-left: none;
  padding-top: 30px;
  margin-top: 30px;

}
